.box1{
    background-color: #EFEFEF;
    width:83%;
    min-height: 600px;
    max-height: 600px;
}
.box1 .box2{
    display: flex;
    background-color: #BC1823; 
    max-width:25%;
    margin-left: 530px;
    min-height: 600px;
    position:relative;
    left: 50%;
    top: -106px;
}