@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.Navbar nav p {
  font-family: "Open Sans", sans-serif;
  color: #3d4186;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  margin-left: 50%;
  transform: translate(-40%);
}

.Navbar nav ul {
  margin-left: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Navbar nav li {
  text-decoration: none;
  margin-top: -95px;
}

.Navbar nav li a {
  margin: 5px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 19px;
  text-decoration: none;
  padding: 10px;
  color: #919292;
}
