@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #1D1E21;
}
.Navbar nav p {
  font-family: "Merriweather Sans", sans-serif;
  color: #313583;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin-left: 25px;
}

.Navbar nav ul {
  margin-left: 64%;
  list-style: none;
  display: flex;
  flex-direction: row;

}

.Navbar nav li {
  text-decoration: none;
  margin-top: -55px;
}

.Navbar nav li a {
  margin: 5px;
  font-family: "Merriweather Sans", sans-serif;
  border-radius: 10px;
  font-size: 19px;
  text-decoration: none;
  padding: 10px;
  color:#919292;
}