@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.Equipe h1{
    text-align: center;
    font-weight: bold;
    font-family: "Merriweather Sans", sans-serif;
}

.Equipe ul  {
    display: inline-block;
    margin-left: 1%;
    
    
}

.Equipe ul li {
    display: flex;
    flex-direction: row;
}
.Equipe ul li P{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align:justify;
}
.Equipe ul li .David_Luiz img{
    height: 300px;
    border-radius: 35px;
    
}

.Equipe ul li .Jose_Junior img{
    height: 300px;
    border-radius: 35px;
    
}